body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.liza{
    height: 100vh;
    width: 100vw;
    padding-top: 100px;
    background-color:rgb(80,60,73);
    color:bisque;
}
.liza__box{
    height: 300px;
    width: 900px;
    margin: 0 auto;
    display: flex;

}
.liza__box1{
    width: 65%;
    padding: 80px;
    background-color:  rgb(158, 101, 21);
    overflow: scroll;
    /* scroll-behavior: liza__h5; */
}
.liza__box2{
    width: 33.5%;
}
.liza__img{
    width: 100%;
}
.liza__title{
    font-size: 40px;
}
.liza__h5{
    font-size: 25px;
}
.liza__p{
    font-size: 20px;
}





  .liza__round{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: rgb(202, 89, 13);
    position: relative;
    left: 100px;
    top: -50px;
  }
  .liza__span{
    height: 2px;
    width: 50px;
    background-color: #000;
    position: relative;
    left: 12px;
    top: 35px;
  }


  /* matt//////////////////////////////////////////////////////// */

  .liza__box1 { overflow-x: hidden; }
  .liza__box1::-webkit-scrollbar { /* 1 - скроллбар */
    width: 10px;
    height: 10px;
    background-color:  rgb(238, 206, 161);
  }

  .liza__box1::-webkit-scrollbar-button { /* 2 - кнопка */
    display: none;
    
  }

 

  .liza__box1::-webkit-scrollbar-thumb { /* 5 - ползунок */
    border-radius: 2px;
    background-color:  rgb(158, 101, 21);
  }

 